@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "fonts.css";

:root{
    --primary-orange:#ff7d1a;
    --pale-orange: 	#ffede0;
    --dark-blue:#1d2025;
    --dark-grayish-blue:#68707d;
    --Grayish-blue:#b6bcc8;
    --light-grayish-blue:#f7f8fd;
    --White: #fff;
    --black: #000;
    /* black:(with 75% opacity for lightbox background)*/
}

html{
    box-sizing: border-box;
}

*,
::after,
::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}


body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
}

